body {
        font-family: Arial, sans-serif;
        max-width: 600px;
        margin: 20px auto;
        padding: 0 20px;
        background-color: black;
        color-scheme: dark;
    }
    .form-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }
    .form-row label {
        color:whitesmoke;
        flex: 1;
        margin-right: 10px;
        text-align: right;
    }
    .form-row input {
        color: whitesmoke;
        flex: 1;
        padding: 8px;
        box-sizing: border-box;
    }
    .row-pass {
    background-color: #d4edda; /* light green */
    color: #155724;           /* dark green text */
    }

    .row-fail {
        background-color: #f8d7da; /* light red */
        color: #721c24;           /* dark red text */
    }

    .row-score {
        background-color: #d1ecf1; /* light blue */
        color: #0c5460;           /* dark blue text */
    }

    button {
        display: block;
        color: antiquewhite;
        margin: 20px auto 0 auto;
        padding: 10px 20px;
        font-size: 16px;
    }
    h1 {
        color: antiquewhite;
    }
    h2 {
        color: antiquewhite;
        margin-top: 20px;
    }
    #resultContainer {
        margin-top: 20px;
        padding: 10px;
        background-color: #333;
        color: whitesmoke;
        border-radius: 5px;
    }
